


.bottomTxt{
    text-align:center;
    /* padding-top: 200px; */
    color: white;
}


.spacing{
    display: flex;
    justify-content: space-evenly;
}

.size{
    width: 70%;
    border: 5px solid;
    margin-left: 210px ;
}

body{
    background-color: rgb(86, 86, 86);
}









