


.bottomTxt{
    text-align:center;
    /* padding-top: 200px; */
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 220px;
    margin-right: 220px;
    border: 3px solid black;
    background-color: white;
    border-radius: 20px;
}


.spacing{
    display: flex;
    justify-content: space-evenly;
}

.size{
    width: 70%;
    border: 5px solid;
    margin-left: 220px ;
}

body{
    background-image: linear-gradient(rgb(85, 85, 85), rgb(214, 214, 214));
}

a{
    display: block;
}

a:link{
    text-decoration: none;
color: black;
}

a:visited{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color:rgb(204, 204, 253);
}
a:active{
    text-decoration: none;
    color: black;
}


button{
    margin-top:20px ;
    width: 250px;
    height: 60px;
    border: 3px solid black;
    border-radius: 10px;
}

button:hover{
    background-color:rgb(122, 122, 241);
}





